###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://freefr.dl.sourceforge.net/project/e2fsprogs/e2fsprogs/1.42/e2fsprogs-1.42.tar.gz
md5sum = a3c4ffd7352310ab5e9412965d575610


configure-options=


